<div class="row">
    <div class=col-3>
        <ul class="list-group">
            <li *ngFor="let c of categories$ | async" class="list-group-item">
                {{c.data.name}}
            </li>
        </ul>
    </div>

    <div class="col">
        <div class=row>
            <div *ngFor="let p of products$ | async" class="col-sm-12 col-md-6 ">
                <div class="card">
                    <img [src]="p.data.imageUrl" class="card-img-top" alt="temp-image">
                    <div class="card-body">
                        <h5 class="card-title">{{p.data.title}}</h5>
                        <p class="card-text">{{p.data.price | currency:'USD':symbol}}</p>
                        <a class="btn btn-primary">add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>